.collection img{
	width: 400px;
	height: auto;
	margin:30px;
	border-radius:5px;
}

.collection{
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	margin: 90px 20px;
}

.collection p{
	margin: 30px
}

.collection h1{
	color:#C8AD7F;
}


@media (max-width: 720px) {
  .collection {
  	display:block;
  }
  .collection img{
  	width:300px;
  }
}

